ClusterName=hpc-test
SlurmctldHost=controller
SlurmUser=slurm
SlurmdUser=root
AuthType=auth/munge
StateSaveLocation=/var/spool/slurmctld
SlurmdSpoolDir=/var/spool/slurmd
SlurmctldPidFile=/run/slurmctld.pid
SlurmdPidFile=/run/slurmd.pid
SwitchType=switch/none
MpiDefault=none
ProctrackType=proctrack/linuxproc
ReturnToService=2
SlurmctldTimeout=120
SlurmdTimeout=300
SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core
NodeName=compute1 NodeAddr=192.168.56.11 CPUs=2 RealMemory=1800 State=UNKNOWN
PartitionName=debug Nodes=compute1 Default=YES MaxTime=INFINITE State=UP
